.emdt-row{
display:flex;
flex:100%;
justify-content: space-between;
flex-wrap: wrap;
}
.wpas-tag-wrap.emdt-row{
flex:25%;
padding:0 0.5% 0.5%;
border: 1px dashed #dedede;
}
.wpas-tag-label{
font-weight:400;
color:#9e9e9e;
}
.wpas-tag-code{
color:#795548;
}
.wpas-tag-code,
.wpas-tag-label{
flex:100%;
word-break:break-all;
padding: 2px 5px;
}
.wpas .clearfix {
*zoom: 1;
}
.wpas .clearfix:before,
.wpas .clearfix:after {
display: table;
content: "";
}
.wpas .clearfix:after {
clear: both;
}

.wpas footer,
.wpas header,
.wpas nav,
.wpas section {
display: block;
}

.wpas video {
display: inline-block;
*display: inline;
*zoom: 1;
}
.wpas html {
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
.wpas a:focus {
outline: none;
box-shadow: none;
}
.wpas a:hover,
.wpas a:active {
outline: 0;
}
.wpas sub {
position: relative;
font-size: 75%;
line-height: 0;
vertical-align: baseline;
}
.wpas sub {
bottom: -0.25em;
}
.wpas img {
max-width: 100%;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}
.wpas button,
.wpas input,
.wpas select,
.wpas textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}
.wpas button,
.wpas input {
*overflow: visible;
line-height: normal;
}
.wpas button::-moz-focus-inner,
.wpas input::-moz-focus-inner {
padding: 0;
border: 0;
}
.wpas button,
.wpas input[type="button"],
.wpas input[type="reset"],
.wpas input[type="submit"] {
cursor: pointer;
-webkit-appearance: button;
}
.wpas input[type="search"] {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
-webkit-appearance: textfield;
}
.wpas input[type="search"]::-webkit-search-decoration,
.wpas input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
.wpas textarea {
overflow: auto;
vertical-align: top;
}
.wpas body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333333;
background-color: #ffffff;
}
.wpas a {
color: #666;
text-decoration: none;
}
.wpas a:hover {
color: #005580;
text-decoration: underline;
}
.wpas .row {
margin-left: -2;
*zoom: 1;
}
.wpas .row:before,
.wpas .row:after {
display: table;
content: "";
}
.wpas .row:after {
clear: both;
}
.wpas [class*="span"] {
float: left;
margin-left: 2;
}
.wpas .container {
width: 742px;
}
.wpas .span12 {
width: 742px;
}
.wpas .span11 {
width: 680px;
}
.wpas .span10 {
width: 618px;
}
.wpas .span9 {
width: 556px;
}
.wpas .span8 {
width: 494px;
}
.wpas .span7 {
width: 432px;
}
.wpas .span5 {
width: 308px;
}
.wpas .span6 {
width: 48.93617020799999%;
}
.wpas .span4 {
width: 246px;
}
.wpas .span3 {
width: 184px;
}
.wpas .span2 {
width: 122px;
}
.wpas .span1 {
width: 60px;
}
.wpas .row-fluid {
width: 100%;
}
.wpas .row-fluid:before,
.wpas .row-fluid:after {
display: table;
content: "";
}
.wpas .row-fluid:after {
clear: both;
}
.wpas .row-fluid [class*="span"] {
display: block;
width: 100%;
min-height: 28px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
float: left;
margin-left: 2.127659574%;
*margin-left: 2.0602741292560647%;
}
.wpas .row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.wpas .row-fluid .span12 {
width: 99.99999998999999%;
*width: 99.93261454525606%;
}
.wpas .row-fluid .span11 {
width: 91.489361693%;
*width: 91.42197624825607%;
}
.wpas .row-fluid .span10 {
width: 82.97872339599999%;
*width: 82.91133795125606%;
}
.wpas .row-fluid .span9 {
width: 74.468085099%;
*width: 74.40069965425607%;
}
.wpas .row-fluid .span8 {
width: 65.95744680199999%;
*width: 65.89006135725606%;
}
.wpas .row-fluid .span7 {
width: 57.446808505%;
*width: 57.379423060256066%;
}
.wpas .row-fluid .span5 {
width: 40.425531911%;
*width: 40.358146466256066%;
}
.wpas .row-fluid .span4 {
width: 31.914893614%;
*width: 31.847508169256066%;
}
.wpas .row-fluid .span3 {
width: 23.404255317%;
*width: 23.336869872256067%;
}
.wpas .row-fluid .span2 {
width: 14.89361702%;
*width: 14.826231575256065%;
}
.wpas .row-fluid .span1 {
width: 6.382978723%;
*width: 6.315593278256064%;
}
.wpas .container {
margin-right: auto;
margin-left: auto;
*zoom: 1;
}
.wpas .container:before,
.wpas .container:after {
display: table;
content: "";
}
.wpas .container:after {
clear: both;
}
.wpas .container-fluid {
padding-right: 2;
padding-left: 2;
*zoom: 1;
}
.wpas .container-fluid:before,
.wpas .container-fluid:after {
display: table;
content: "";
}
.wpas .container-fluid:after {
clear: both;
}
.wpas p {
margin: 0 0 9px;
font-size:14px;
}
.wpas p small {
font-size: 11px;
color: #999999;
}
.wpas h1,
.wpas h2,
.wpas h3,
.wpas h4 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}
.wpas h1 small,
.wpas h2 small,
.wpas h3 small,
.wpas h4 small {
font-weight: normal;
color: #999999;
}
.wpas h1 {
font-size: 30px;
line-height: 36px;
}
.wpas h1 small {
font-size: 18px;
}
.wpas h2 {
font-size: 24px;
line-height: 36px;
}
.wpas h2 small {
font-size: 18px;
}
.wpas h3 {
font-size: 18px;
line-height: 27px;
}
.wpas h3 small {
font-size: 14px;
}
.wpas h4 {
line-height: 18px;
}
.wpas h4 {
font-size: 14px;
}
.wpas h4 small {
font-size: 12px;
}
.wpas ul,
.wpas ol {
padding: 0;
margin: 0 0 9px 25px;
}
.wpas ul ul,
.wpas ul ol,
.wpas ol ol,
.wpas ol ul {
margin-bottom: 0;
}
.wpas .wpas ul {
list-style: disc;
}
.wpas ol {
list-style: decimal;
}
.wpas li {
line-height: 18px;
}
.wpas dl {
margin-bottom: 18px;
}
.wpas dt,
.wpas dd {
line-height: 18px;
}
.wpas dt {
font-weight: bold;
line-height: 17px;
}
.wpas dd {
margin-left: 9px;
}
.wpas hr {
margin: 18px 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
}
.wpas strong {
font-weight: bold;
}
.wpas em {
font-style: italic;
}
.wpas q:before,
.wpas q:after {
content: "";
}
.wpas address {
display: block;
margin-bottom: 18px;
font-style: normal;
line-height: 18px;
}
.wpas small {
font-size: 100%;
}
.wpas code,
.wpas pre {
padding: 0 3px 2px;
font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
font-size: 12px;
color: #333333;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.wpas code {
padding: 2px 4px;
color: #d14;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
}
.wpas pre {
display: block;
padding: 8.5px;
margin: 0 0 9px;
font-size: 12.025px;
line-height: 18px;
word-break: break-all;
word-wrap: break-word;
white-space: pre;
white-space: pre-wrap;
background-color: #f5f5f5;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.wpas pre code {
padding: 0;
color: inherit;
background-color: transparent;
border: 0;
}
.wpas .label {
font-size: 10.998px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #999999;
}
.wpas .label {
padding: 1px 4px 2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.wpas a.label:hover {
color: #ffffff;
text-decoration: none;
cursor: pointer;
}
.wpas .label-info {
background-color: #3a87ad;
}
.wpas .label-info[href] {
background-color: #2d6987;
}
.wpas table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}
.wpas .table th,
.wpas .table td {
padding: 8px;
line-height: 18px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;
}
.wpas .table th {
font-weight: bold;
}
.wpas .table thead th {
vertical-align: bottom;
}

.wpas .table thead:first-child tr:first-child th,
.wpas .table thead:first-child tr:first-child td {
border-top: 0;
}
.wpas .table tbody + tbody {
border-top: 2px solid #dddddd;
}
.wpas .table-condensed th,
.wpas .table-condensed td {
padding: 4px 5px;
}
.wpas .table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
*border-collapse: collapsed;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.wpas .table-bordered th,
.wpas .table-bordered td {
border-left: 1px solid #dddddd;
}

.wpas .table-bordered thead:first-child tr:first-child th,
.wpas .table-bordered tbody:first-child tr:first-child th,
.wpas .table-bordered tbody:first-child tr:first-child td {
border-top: 0;
}
.wpas .table-bordered thead:first-child tr:first-child th:first-child,
.wpas .table-bordered tbody:first-child tr:first-child td:first-child {
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
}
.wpas .table-bordered thead:first-child tr:first-child th:last-child,
.wpas .table-bordered tbody:first-child tr:first-child td:last-child {
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
}
.wpas .table-bordered thead:last-child tr:last-child th:first-child,
.wpas .table-bordered tbody:last-child tr:last-child td:first-child {
-webkit-border-radius: 0 0 0 4px;
-moz-border-radius: 0 0 0 4px;
border-radius: 0 0 0 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
}
.wpas .table-bordered thead:last-child tr:last-child th:last-child,
.wpas .table-bordered tbody:last-child tr:last-child td:last-child {
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
}
.wpas .table-striped tbody tr:nth-child(odd) td,
.wpas .table-striped tbody tr:nth-child(odd) th {
background-color: #fff;
}
.wpas .table tbody tr:hover td,
.wpas .table tbody tr:hover th {
background-color:#f2fffd; 
}
.wpas table .span1 {
float: none;
width: 44px;
margin-left: 0;
}
.wpas table .span2 {
float: none;
width: 106px;
margin-left: 0;
}
.wpas table .span3 {
float: none;
width: 168px;
margin-left: 0;
}
.wpas table .span4 {
float: none;
width: 230px;
margin-left: 0;
}
.wpas table .span5 {
float: none;
width: 292px;
margin-left: 0;
}
.wpas table .span7 {
float: none;
width: 416px;
margin-left: 0;
}
.wpas table .span8 {
float: none;
width: 478px;
margin-left: 0;
}
.wpas table .span9 {
float: none;
width: 540px;
margin-left: 0;
}
.wpas table .span10 {
float: none;
width: 602px;
margin-left: 0;
}
.wpas table .span11 {
float: none;
width: 664px;
margin-left: 0;
}
.wpas table .span12 {
float: none;
width: 726px;
margin-left: 0;
}
.wpas form {
margin: 0 0 18px;
}
.wpas fieldset {
padding: 0;
margin: 0;
border: 0;
}
.wpas legend {
display: block;
width: 100%;
padding: 0;
margin-bottom: 27px;
font-size: 19.5px;
line-height: 36px;
color: #333333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}
.wpas legend small {
font-size: 13.5px;
color: #999999;
}
.wpas label,
.wpas input,
.wpas button,
.wpas select,
.wpas textarea {
font-size: 13px;
font-weight: normal;
line-height: 18px;
}
.wpas label {
display: block;
margin-bottom: 5px;
}
.wpas select,
.wpas textarea,
.wpas input[type="text"],
.wpas input[type="password"],
.wpas input[type="datetime"],
.wpas input[type="datetime-local"],
.wpas input[type="date"],
.wpas input[type="month"],
.wpas input[type="time"],
.wpas input[type="week"],
.wpas input[type="number"],
.wpas input[type="email"],
.wpas input[type="url"],
.wpas input[type="search"],
.wpas input[type="tel"],
.wpas input[type="color"],
.wpas .uneditable-input {
display: inline-block;
padding: 0 8px;
margin-bottom: 9px;
font-size: 13px;
line-height:2.2;
color: #555555;
}
.wpas textarea{
width:100%;
height: auto;
}
.wpas textarea,
.wpas input[type="text"],
.wpas input[type="password"],
.wpas input[type="datetime"],
.wpas input[type="datetime-local"],
.wpas input[type="date"],
.wpas input[type="month"],
.wpas input[type="time"],
.wpas input[type="week"],
.wpas input[type="number"],
.wpas input[type="email"],
.wpas input[type="url"],
.wpas input[type="search"],
.wpas input[type="tel"],
.wpas input[type="color"],
.wpas .uneditable-input {
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}
.wpas textarea:focus,
.wpas input[type="text"]:focus,
.wpas input[type="password"]:focus,
.wpas input[type="datetime"]:focus,
.wpas input[type="datetime-local"]:focus,
.wpas input[type="date"]:focus,
.wpas input[type="month"]:focus,
.wpas input[type="time"]:focus,
.wpas input[type="week"]:focus,
.wpas input[type="number"]:focus,
.wpas input[type="email"]:focus,
.wpas input[type="url"]:focus,
.wpas input[type="search"]:focus,
.wpas input[type="tel"]:focus,
.wpas input[type="color"]:focus,
.wpas .uneditable-input:focus {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted \9;
/* IE6-9 */

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
#was-editor input[type="radio"],
#was-editor input[type="checkbox"] {
line-height: normal;
cursor: pointer;
width:19px;
height: 19px;
border: 1px solid #d4d4d4;
}
.wpas input[type="submit"],
.wpas input[type="reset"],
.wpas input[type="button"],
.wpas input[type="radio"],
.wpas input[type="checkbox"] {
width: auto;
}
.wpas select,
.wpas input[type="file"] {
height: 28px;
line-height: 28px;
}
.wpas input,
.wpas select {
width: 220px;
border: 1px solid #bbb;
}
.wpas select[multiple],
.wpas select[size] {
height: auto;
}
.wpas select:focus,
.wpas input[type="file"]:focus,
.wpas input[type="radio"]:focus,
.wpas input[type="checkbox"]:focus {
outline: none;
}
.wpas .radio,
.wpas .checkbox {
min-height: 18px;
padding-left: 18px;
}
.wpas .radio input[type="radio"],
.wpas .checkbox input[type="checkbox"] {
float: left;
margin-left: -18px;
}
.wpas .controls > .radio:first-child,
.wpas .controls > .checkbox:first-child {
padding-top: 5px;
}
.wpas .radio.inline,
.wpas .checkbox.inline {
display: inline-block;
padding-top: 5px;
margin-bottom: 0;
vertical-align: middle;
}
.wpas .radio.inline + .radio.inline,
.wpas .checkbox.inline + .checkbox.inline {
margin-left: 10px;
}
.wpas .input-mini {
width: 60px;
}
.wpas .input-small {
width: 90px;
}
.wpas .input-medium {
width: 150px;
}
.wpas .input-large {
width: 210px;
}
.wpas .input-xlarge {
width: 390px;
}
.wpas .input-xxlarge {
width: 530px;
}
.wpas input[class*="span"],
.wpas select[class*="span"],
.wpas textarea[class*="span"],
.wpas .uneditable-input[class*="span"],
.wpas .row-fluid input[class*="span"],
.wpas .row-fluid select[class*="span"],
.wpas .row-fluid textarea[class*="span"],
.wpas .row-fluid .uneditable-input[class*="span"] {
float: none;
margin-left: 0;
}
.wpas input,
.wpas textarea,
.wpas .uneditable-input {
margin-left: 0;
}
.wpas input.span12,
.wpas textarea.span12,
.wpas .uneditable-input.span12 {
width: 732px;
}
.wpas input.span11,
.wpas textarea.span11,
.wpas .uneditable-input.span11 {
width: 670px;
}
.wpas input.span10,
.wpas textarea.span10,
.wpas .uneditable-input.span10 {
width: 608px;
}
.wpas input.span9,
.wpas textarea.span9,
.wpas .uneditable-input.span9 {
width: 546px;
}
.wpas input.span8,
.wpas textarea.span8,
.wpas .uneditable-input.span8 {
width: 484px;
}
.wpas input.span7,
.wpas textarea.span7,
.wpas .uneditable-input.span7 {
width: 422px;
}
.wpas input.span5,
.wpas textarea.span5,
.wpas .uneditable-input.span5 {
width: 298px;
}
.wpas input.span4,
.wpas textarea.span4,
.wpas .uneditable-input.span4 {
width: 236px;
}
.wpas input.span3,
.wpas textarea.span3,
.wpas .uneditable-input.span3 {
width: 174px;
}
.wpas input.span2,
.wpas textarea.span2,
.wpas .uneditable-input.span2 {
width: 112px;
}
.wpas input.span1,
.wpas textarea.span1,
.wpas .uneditable-input.span1 {
width: 50px;
}
.wpas input[disabled],
.wpas select[disabled],
.wpas textarea[disabled],
.wpas input[readonly],
.wpas select[readonly],
.wpas textarea[readonly] {
cursor: not-allowed;
background-color: #eeeeee;
border-color: #ddd;
}
.wpas input[type="radio"][disabled],
.wpas input[type="checkbox"][disabled],
.wpas input[type="radio"][readonly],
.wpas input[type="checkbox"][readonly] {
background-color: transparent;
}
.wpas .control-group.warning > label {
color: #c09853;
}
.wpas .control-group.warning .checkbox,
.wpas .control-group.warning .radio,
.wpas .control-group.warning input,
.wpas .control-group.warning select,
.wpas .control-group.warning textarea {
color: #c09853;
border-color: #c09853;
}
.wpas .control-group.warning .checkbox:focus,
.wpas .control-group.warning .radio:focus,
.wpas .control-group.warning input:focus,
.wpas .control-group.warning select:focus,
.wpas .control-group.warning textarea:focus {
border-color: #a47e3c;
-webkit-box-shadow: 0 0 6px #dbc59e;
-moz-box-shadow: 0 0 6px #dbc59e;
box-shadow: 0 0 6px #dbc59e;
}
.wpas .control-group.error > label {
color: #b94a48;
}
.wpas .control-group.error .checkbox,
.wpas .control-group.error .radio,
.wpas .control-group.error input,
.wpas .control-group.error select,
.wpas .control-group.error textarea {
color: #b94a48;
border-color: #b94a48;
}
.wpas .control-group.error .checkbox:focus,
.wpas .control-group.error .radio:focus,
.wpas .control-group.error input:focus,
.wpas .control-group.error select:focus,
.wpas .control-group.error textarea:focus {
border-color: #953b39;
-webkit-box-shadow: 0 0 6px #d59392;
-moz-box-shadow: 0 0 6px #d59392;
box-shadow: 0 0 6px #d59392;
}
.wpas .control-group.success > label {
color: #468847;
}
.wpas .control-group.success .checkbox,
.wpas .control-group.success .radio,
.wpas .control-group.success input,
.wpas .control-group.success select,
.wpas .control-group.success textarea {
color: #468847;
border-color: #468847;
}
.wpas .control-group.success .checkbox:focus,
.wpas .control-group.success .radio:focus,
.wpas .control-group.success input:focus,
.wpas .control-group.success select:focus,
.wpas .control-group.success textarea:focus {
border-color: #356635;
-webkit-box-shadow: 0 0 6px #7aba7b;
-moz-box-shadow: 0 0 6px #7aba7b;
box-shadow: 0 0 6px #7aba7b;
}
.wpas input:focus:required:invalid,
.wpas textarea:focus:required:invalid,
.wpas select:focus:required:invalid {
color: #b94a48;
border-color: #ee5f5b;
}
.wpas input:focus:required:invalid:focus,
.wpas textarea:focus:required:invalid:focus,
.wpas select:focus:required:invalid:focus {
border-color: #e9322d;
-webkit-box-shadow: 0 0 6px #f8b9b7;
-moz-box-shadow: 0 0 6px #f8b9b7;
box-shadow: 0 0 6px #f8b9b7;
}
.wpas .uneditable-input {
overflow: hidden;
white-space: nowrap;
cursor: not-allowed;
background-color: #ffffff;
border-color: #eee;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}
.wpas :-moz-placeholder {
color: #999999;
}
.wpas :-ms-input-placeholder {
color: #999999;
}
.wpas ::-webkit-input-placeholder {
color: #999999;
}

.wpas .form-inline input,
.wpas .form-horizontal input,
.wpas .form-inline textarea,
.wpas .form-horizontal textarea,
.wpas .form-inline select,
.wpas .form-horizontal select,
.wpas .form-inline .uneditable-input,
.wpas .form-horizontal .uneditable-input {
display: inline-block;
margin-bottom:2px;
}

.wpas .form-inline .hide,
.wpas .form-horizontal .hide {
display: none;
}

.wpas .form-inline label {
display: inline-block;
}

.wpas .form-inline .radio,
.wpas .form-inline .checkbox {
padding-left: 0;
margin-bottom: 0;
vertical-align: middle;
}

.wpas .form-inline .radio input[type="radio"],
.wpas .form-inline .checkbox input[type="checkbox"] {
float: left;
margin-right: 3px;
margin-left: 0;
}
.wpas .control-group {
margin-bottom: 9px;
}
.wpas legend + .control-group {
margin-top: 18px;
-webkit-margin-top-collapse: separate;
}
.wpas .form-horizontal .control-group:before,
.wpas .form-horizontal .control-group:after {
display: table;
content: "";
}
.wpas .form-horizontal .control-group:after {
clear: both;
}
.wpas .form-horizontal .control-label {
float: left;
width: 140px;
padding-top: 5px;
text-align: right;
}
.wpas .form-horizontal .controls {
margin-left: 160px;
}
.wpas .form-horizontal .controls:first-child {
}
.wpas .btn {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 13px;
line-height: 18px;
color: #333333;
text-align: center;
vertical-align: middle;
cursor: pointer;
}
.wpas .btn:hover,
.wpas .btn:active,
.wpas .btn.active,
.wpas .btn.disabled,
.wpas .btn[disabled] {
background-color: #e6e6e6;
}
.wpas .btn:active,
.wpas .btn.active {
background-color: #cccccc \9;
}
.wpas .btn:hover {
color: #333333;
text-decoration: none;
background-color: #e6e6e6;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}
.wpas .btn:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.wpas .btn.active,
.wpas .btn:active {
background-color: #e6e6e6;
background-color: #d9d9d9 \9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.wpas .btn.disabled,
.wpas .btn[disabled] {
cursor: default;
background-color: #e6e6e6;
background-image: none;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.wpas .btn-large {
padding: 9px 14px;
font-size: 15px;
line-height: normal;
}
.wpas .btn-large [class^="icon-"] {
margin-top: 1px;
}
.wpas .btn-small {
padding: 5px 9px;
font-size: 11px;
line-height: 16px;
}
.wpas .btn-small [class^="icon-"] {
margin-top: -1px;
}
.wpas .btn-mini {
padding: 2px 6px;
font-size: 11px;
line-height: 14px;
}
.wpas .btn-primary,
.wpas .btn-primary:hover,
.wpas .btn-warning,
.wpas .btn-warning:hover,
.wpas .btn-danger,
.wpas .btn-danger:hover,
#generate .btn-success,
#generate .btn-success:hover,
.wpas .btn-info,
.wpas .btn-info:hover,
.wpas .btn-inverse,
.wpas .btn-inverse:hover {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wpas .btn-primary.active,
.wpas .btn-warning.active,
.wpas .btn-danger.active,
#generate .btn-success.active,
.wpas .btn-info.active,
.wpas .btn-inverse.active {
color: rgba(255, 255, 255, 0.75);
}
.wpas .btn {
border-color: #ccc;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wpas .btn-primary {
background-color: #0074cc;
border-color: #0055cc #0055cc #003580;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wpas .btn-primary:hover,
.wpas .btn-primary:active,
.wpas .btn-primary.active,
.wpas .btn-primary.disabled,
.wpas .btn-primary[disabled] {
background-color: #0055cc;
*background-color: #004ab3;
}
.wpas .btn-primary:active,
.wpas .btn-primary.active {
background-color: #004099 \9;
}
.wpas .btn-warning {
background-color: #faa732;
border-color: #f89406 #f89406 #ad6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wpas .btn-warning:hover,
.wpas .btn-warning:active,
.wpas .btn-warning.active,
.wpas .btn-warning.disabled,
.wpas .btn-warning[disabled] {
background-color: #f89406;
*background-color: #df8505;
}
.wpas .btn-warning:active,
.wpas .btn-warning.active {
background-color: #c67605 \9;
}
.wpas .btn-danger {
background-color: #da4f49;
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wpas .btn-danger:hover,
.wpas .btn-danger:active,
.wpas .btn-danger.active,
.wpas .btn-danger.disabled,
.wpas .btn-danger[disabled] {
background-color: #bd362f;
*background-color: #a9302a;
}
.wpas .btn-danger:active,
.wpas .btn-danger.active {
background-color: #942a25 \9;
}
#generate .btn-success {
background-color: #5bb75b;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#generate .btn-success:hover,
#generate .btn-success:active,
#generate .btn-success.active,
#generate .btn-success.disabled,
#generate .btn-success[disabled] {
background-color: #51a351;
*background-color: #499249;
}
#generate .btn-success:active,
#generate .btn-success.active {
background-color: #408140 \9;
}
.wpas .btn-info {
background-color: #49afcd;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wpas .btn-info:hover,
.wpas .btn-info:active,
.wpas .btn-info.active,
.wpas .btn-info.disabled,
.wpas .btn-info[disabled] {
background-color: #2f96b4;
}
.wpas .btn-info:active,
.wpas .btn-info.active {
background-color: #24748c \9;
}
.wpas div.pagination .current,
.wpas .btn-inverse {
background-color: #414141;
border-color: #222222 #222222 #000000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color:#fff;
}
.wpas .btn-inverse:hover,
.wpas .btn-inverse:active,
.wpas .btn-inverse.active,
.wpas .btn-inverse.disabled,
.wpas .btn-inverse[disabled] {
background-color: #222222;
*background-color: #151515;
}
.wpas .btn-inverse:active,
.wpas .btn-inverse.active {
background-color: #080808 \9;
}
.wpas button.btn,
.wpas input[type="submit"].btn {
*padding-top: 2px;
*padding-bottom: 2px;
}
.wpas button.btn::-moz-focus-inner,
.wpas input[type="submit"].btn::-moz-focus-inner {
padding: 0;
border: 0;
}
.wpas button.btn.btn-large,
.wpas input[type="submit"].btn.btn-large {
*padding-top: 7px;
*padding-bottom: 7px;
}
.wpas button.btn.btn-small,
.wpas input[type="submit"].btn.btn-small {
*padding-top: 3px;
*padding-bottom: 3px;
}
.wpas button.btn.btn-mini,
.wpas input[type="submit"].btn.btn-mini {
*padding-top: 1px;
*padding-bottom: 1px;
}
.wpas .btn-group {
position: relative;
*zoom: 1;
*margin-left: .3em;
}
.wpas .btn-group:before,
.wpas .btn-group:after {
display: table;
content: "";
}
.wpas .btn-group:after {
clear: both;
}
.wpas .btn-group:first-child {
*margin-left: 0;
}
.wpas .btn-group + .btn-group {
margin-left: 5px;
}
.wpas .btn-group > .btn {
position: relative;
float: left;
margin-left: -1px;
}
.wpas .btn-group > .btn:first-child {
margin-left: 0;
}
.wpas .btn-group > .btn.large:first-child {
margin-left: 0;
}
.wpas .btn-group > .btn:hover,
.wpas .btn-group > .btn:focus,
.wpas .btn-group > .btn:active,
.wpas .btn-group > .btn.active {
z-index: 2;
}
.wpas .nav {
margin:18px 0;
list-style: none;
}
.wpas .nav > li > a {
display: block;
}
.wpas .nav > li > a:hover {
text-decoration: none;
background-color: #eeeeee;
}
.wpas .nav > .pull-right {
float: right;
}
.wpas .nav-tabs {
*zoom: 1;
}
.wpas .nav-tabs:before,
.wpas .nav-tabs:after {
display: table;
content: "";
}
.wpas .nav-tabs:after {
clear: both;
}
.wpas .nav-tabs > li {
float: left;
}
.wpas .nav-tabs > li > a {
padding-right: 12px;
padding-left: 12px;
line-height: 14px;
}
.wpas .nav-tabs > li {
margin-bottom: -1px;
}
.wpas .nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 18px;
}
.wpas .nav-tabs > li > a:hover {
color: #555555;
}
.wpas .nav-tabs > .active > a,
.wpas .nav-tabs > .active > a:hover {
color: #555555;
background-color: #ffffff;
cursor: default;
}
.wpas .nav-tabs .dropdown-menu {
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}
.wpas .nav > .dropdown.active > a:hover {
color: #000000;
cursor: pointer;
}

.wpas .nav > li.dropdown.open.active > a:hover {
color: #ffffff;
background-color: #999999;
border-color: #999999;
}
.wpas .tabbable {
*zoom: 1;
}
.wpas .tabbable:before,
.wpas .tabbable:after {
display: table;
content: "";
}
.wpas .tabbable:after {
clear: both;
}
.wpas .tab-content {
overflow: auto;
}
.wpas .tab-content > .tab-pane {
display: none;
}
.wpas .tab-content > .active {
display: block;
}
.wpas .breadcrumb {
padding: 7px 14px;
margin: 0 0 18px;
list-style: none;
background-color: #fbfbfb;
border: 1px solid #ddd;
}
.wpas .breadcrumb li {
display: inline-block;
*display: inline;
/* IE7 inline-block hack */

*zoom: 1;
text-shadow: 0 1px 0 #ffffff;
}
.wpas .breadcrumb .divider {
padding: 0 5px;
color: #999999;
}
.wpas .breadcrumb .active a {
color: #333333;
}
.wpas .pagination {
height: 36px;
}
.wpas .pagination ul {
display: flex;
justify-content: flex-end;
}
.wpas .pagination span,
.wpas .pagination a {
display:block;
padding: 0 14px;
line-height: 34px;
text-decoration: none;
border: 1px solid #ddd;
border-left-width: 0;
}
.wpas .pagination a:hover,
.wpas .pagination .active a {
background-color: #f5f5f5;
}
.wpas .pagination .active a {
color: #999999;
cursor: default;
}
.wpas .pagination .disabled span,
.wpas .pagination .disabled a,
.wpas .pagination .disabled a:hover {
color: #999999;
background-color: transparent;
cursor: default;
}
.wpas .pagination li:first-child a {
border-left-width: 1px;
}
.wpas .pagination-right {
text-align: right;
}
.wpas .alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
}
#was-editor .emdt-alert.btn{
background:#d9edf7;
}
.wpas .alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}
.wpas .alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
}

.wpas .alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
}
.wpas .alert-info {
background-color: #d9edf7;
border-color: #bce8f1;
color: #3a87ad;
}
.wpas .alert-block {
padding-top: 14px;
padding-bottom: 14px;
}
.wpas .alert-block > p,
.wpas .alert-block > ul {
margin-bottom: 0;
}
.wpas .alert-block p + p {
margin-top: 5px;
}
.wpas .tooltip {
position: absolute;
z-index: 1020;
display: block;
visibility: visible;
padding: 5px;
font-size: 11px;
opacity: 0;
filter: alpha(opacity=0);
}
.wpas .tooltip.in {
opacity: 0.8;
filter: alpha(opacity=80);
}
.wpas .tooltip.top {
margin-top: -2px;
}
.wpas .tooltip.right {
margin-left: 2px;
}
.wpas .tooltip.bottom {
margin-top: 2px;
}
.wpas .tooltip.left {
margin-left: -2px;
}
.wpas .tooltip.top .tooltip-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #000000;
}
.wpas .tooltip.left .tooltip-arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid #000000;
}
.wpas .tooltip.bottom .tooltip-arrow {
top: 0;
left: 50%;
margin-left: -5px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid #000000;
}
.wpas .tooltip.right .tooltip-arrow {
top: 50%;
left: 0;
margin-top: -5px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-right: 5px solid #000000;
}
.wpas .tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #ffffff;
text-align: center;
text-decoration: none;
background-color: #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.wpas .tooltip-arrow {
position: absolute;
width: 0;
height: 0;
}
.wpas .popover {
position: absolute;
top: 0;
left: 0;
z-index: 1010;
display: none;
padding: 5px;
}
.wpas .popover.top {
margin-top: -5px;
}
.wpas .popover.right {
margin-left: 5px;
}
.wpas .popover.bottom {
margin-top: 5px;
}
.wpas .popover.left {
margin-left: -5px;
}
.wpas .popover.top .arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #000000;
}
.wpas .popover.right .arrow {
top: 50%;
left: 0;
margin-top: -5px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-right: 5px solid #000000;
}
.wpas .popover.bottom .arrow {
top: 0;
left: 50%;
margin-left: -5px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid #000000;
}
.wpas .popover.left .arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid #000000;
}
.wpas .popover .arrow {
position: absolute;
width: 0;
height: 0;
}
.wpas .popover-inner {
padding: 3px;
width: 280px;
overflow: hidden;
background: #000000;
background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.wpas .popover-title {
padding: 9px 15px;
line-height: 1;
background-color: #f5f5f5;
border-bottom: 1px solid #eee;
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
.wpas .popover-content {
padding: 14px;
background-color: #ffffff;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
.wpas .popover-content p,
.wpas .popover-content ul,
.wpas .popover-content ol {
margin-bottom: 0;
}
.wpas .modal-open .dropdown-menu {
z-index: 2050;
}
.wpas .modal-open .dropdown.open {
*z-index: 2050;
}
.wpas .modal-open .popover {
z-index: 2060;
}
.wpas .modal-open .tooltip {
z-index: 2070;
}
.wpas .modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000000;
}
.wpas .modal-backdrop.fade {
opacity: 0;
}
.wpas .modal-backdrop,
.wpas .modal-backdrop.fade.in {
opacity: 0.8;
filter: alpha(opacity=80);
}
.wpas .modal {
position: fixed;
top: 50%;
left: 50%;
z-index: 1050;
overflow: auto;
width: 560px;
margin: -250px 0 0 -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
*border: 1px solid #999;
/* IE6-7 */

-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
.wpas .modal.fade {
-webkit-transition: opacity .3s linear, top .3s ease-out;
-moz-transition: opacity .3s linear, top .3s ease-out;
-ms-transition: opacity .3s linear, top .3s ease-out;
-o-transition: opacity .3s linear, top .3s ease-out;
transition: opacity .3s linear, top .3s ease-out;
top: -25%;
}
.wpas .modal.fade.in {
top: 50%;
}
.wpas .modal-header {
padding: 9px 15px;
border-bottom: 1px solid #eee;
}
.wpas .modal-header .close {
margin-top: 2px;
}
.wpas .modal-body {
overflow-y: auto;
max-height: 400px;
padding: 15px;
}
.wpas .modal-footer {
padding: 14px 15px 15px;
margin-bottom: 0;
text-align: right;
background-color: #f5f5f5;
border-top: 1px solid #ddd;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
*zoom: 1;
}
.wpas .modal-footer:before,
.wpas .modal-footer:after {
display: table;
content: "";
}
.wpas .modal-footer:after {
clear: both;
}
.wpas .modal-footer .btn + .btn {
margin-left: 5px;
margin-bottom: 0;
}
.wpas .modal-footer .btn-group .btn + .btn {
margin-left: -1px;
}

.wpas .dropdown {
position: relative;
}
.wpas .dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 4px 0;
margin: 1px 0 0;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
*border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.wpas .dropdown-menu.pull-right {
right: 0;
left: auto;
}
.wpas .dropdown-menu .divider {
*width: 100%;
height: 1px;
margin: 8px 1px;
*margin: -5px 0 5px;
overflow: hidden;
background-color: #e5e5e5;
border-bottom: 1px solid #ffffff;
}
.wpas .dropdown-menu a {
display: block;
padding: 3px 15px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #333333;
white-space: nowrap;
}
.wpas .dropdown-menu li > a:hover,
.wpas .dropdown-menu .active > a,
.wpas .dropdown-menu .active > a:hover {
color: #ffffff;
text-decoration: none;
background-color: #0088cc;
}
.wpas .open {
*z-index: 1000;
}
.wpas .open  > .dropdown-menu {
display: block;
}
.wpas .pull-right > .dropdown-menu {
right: 0;
left: auto;
}
.wpas .typeahead {
margin-top: 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.wpas .accordion {
margin-bottom: 18px;
}
.wpas .accordion-group {
}
.wpas .accordion-heading.open {
background:#019ea0;
}
.wpas .accordion-heading .accordion-toggle {
display: block;
padding: 12px 15px;
font-size:14px;
color:#fff;
}
.wpas .accordion-toggle {
cursor: pointer;
}
.wpas .accordion-inner {
padding: 9px 15px;
background:#fff
}
.wpas .carousel {
position: relative;
margin-bottom: 18px;
line-height: 1;
}
.wpas .carousel .item {
display: none;
position: relative;
-webkit-transition: 0.6s ease-in-out left;
-moz-transition: 0.6s ease-in-out left;
-ms-transition: 0.6s ease-in-out left;
-o-transition: 0.6s ease-in-out left;
transition: 0.6s ease-in-out left;
}
.wpas .carousel .item > img {
display: block;
line-height: 1;
}
.wpas .carousel .active,
.wpas .carousel .next,
.wpas .carousel .prev {
display: block;
}
.wpas .carousel .active {
left: 0;
}
.wpas .carousel .next,
.wpas .carousel .prev {
position: absolute;
top: 0;
width: 100%;
}
.wpas .carousel .next {
left: 100%;
}
.wpas .carousel .prev {
left: -100%;
}
.wpas .carousel .next.left,
.wpas .carousel .prev.right {
left: 0;
}
.wpas .carousel .active.left {
left: -100%;
}
.wpas .carousel .active.right {
left: 100%;
}
.wpas .well {
min-height: 20px;
position:relative;
padding:45px 20px;
border:0;
box-shadow:none;
margin-bottom: 20px;
background: #ffffff6b;
}
.wpas .close {
float: right;
font-size: 20px;
font-weight: bold;
line-height: 18px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.2;
filter: alpha(opacity=20);
}
.wpas .close:hover {
color: #000000;
text-decoration: none;
cursor: pointer;
opacity: 0.4;
filter: alpha(opacity=40);
}
.wpas button.close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}
.wpas .pull-right {
float: right;
}
.wpas .pull-left {
float: left;
}
.wpas .hide {
display: none;
}
.wpas .show {
display: block;
}
.wpas .fade {
opacity: 0;
-webkit-transition: opacity 0.15s linear;
-moz-transition: opacity 0.15s linear;
-ms-transition: opacity 0.15s linear;
-o-transition: opacity 0.15s linear;
transition: opacity 0.15s linear;
}
.wpas .fade.in {
opacity: 1;
}
.wpas .collapse {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.35s ease;
-moz-transition: height 0.35s ease;
-ms-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease;
}
.wpas .collapse.in {
height: auto;
}
.wpas .hidden {
display: none;
visibility: hidden;
}
@media (max-width: 480px)  {
.wpas input[type="checkbox"],
.wpas input[type="radio"] {
border: 1px solid #ccc;
}
.wpas .form-horizontal .control-group > label {
float: none;
width: auto;
padding-top: 0;
text-align: left;
}
.wpas .form-horizontal .controls {
margin-left: 0;
}
.wpas .modal {
position: absolute;
top: 10px;
left: 10px;
right: 10px;
width: auto;
margin: 0;
}
.wpas .modal.fade.in {
top: auto;
}
.wpas .modal-header .close {
padding: 10px;
margin: -10px;
}
}
@media (max-width: 767px)  {
.wpas body {
padding-left: 10px;
padding-right: 10px;
}
.wpas .container-fluid {
padding: 0;
}
.wpas .container {
width: auto;
}
.wpas .row-fluid {
width: 100%;
}
.wpas .row {
margin-left: 0;
}
.wpas [class*="span"],
.wpas .row-fluid [class*="span"] {
float: none;
display: block;
width: auto;
margin-left: 0;
}
.wpas .input-large,
.wpas .input-xlarge,
.wpas .input-xxlarge,
.wpas input[class*="span"],
.wpas select[class*="span"],
.wpas textarea[class*="span"],
.wpas .uneditable-input {
display: block;
width: 100%;
min-height: 28px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
}
@media (min-width: 768px) and (max-width: 979px)  {
.wpas .row {
margin-left: -20px;
*zoom: 1;
}
.wpas .row:before,
.wpas .row:after {
display: table;
content: "";
}
.wpas .row:after {
clear: both;
}
.wpas [class*="span"] {
float: left;
margin-left: 20px;
}
.wpas .container {
width: 724px;
}
.wpas .span12 {
width: 724px;
}
.wpas .span11 {
width: 662px;
}
.wpas .span10 {
width: 600px;
}
.wpas .span9 {
width: 538px;
}
.wpas .span8 {
width: 476px;
}
.wpas .span7 {
width: 414px;
}
.wpas .span5 {
width: 290px;
}
.wpas .span4 {
width: 228px;
}
.wpas .span3 {
width: 166px;
}
.wpas .span2 {
width: 104px;
}
.wpas .span1 {
width: 42px;
}
.wpas .row-fluid {
width: 100%;
*zoom: 1;
}
.wpas .row-fluid:before,
.wpas .row-fluid:after {
display: table;
content: "";
}
.wpas .row-fluid:after {
clear: both;
}
.wpas .row-fluid [class*="span"] {
display: block;
width: 100%;
min-height: 28px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
float: left;
margin-left: 2.762430939%;
*margin-left: 2.695045494256065%;
}
.wpas .row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.wpas .row-fluid .span12 {
width: 99.999999993%;
*width: 99.93261454825607%;
}
.wpas .row-fluid .span11 {
width: 91.436464082%;
*width: 91.36907863725607%;
}
.wpas .row-fluid .span10 {
width: 82.87292817100001%;
*width: 82.80554272625608%;
}
.wpas .row-fluid .span9 {
width: 74.30939226%;
*width: 74.24200681525606%;
}
.wpas .row-fluid .span8 {
width: 65.74585634900001%;
*width: 65.67847090425607%;
}
.wpas .row-fluid .span7 {
width: 57.182320438000005%;
*width: 57.11493499325607%;
}
.wpas .row-fluid .span5 {
width: 40.055248616%;
*width: 39.987863171256066%;
}
.wpas .row-fluid .span4 {
width: 31.491712705%;
*width: 31.424327260256067%;
}
.wpas .row-fluid .span3 {
width: 22.928176794%;
*width: 22.860791349256065%;
}
.wpas .row-fluid .span2 {
width: 14.364640883%;
*width: 14.297255438256064%;
}
.wpas .row-fluid .span1 {
width: 5.801104972%;
*width: 5.733719527256064%;
}
.wpas input,
.wpas textarea,
.wpas .uneditable-input {
margin-left: 0;
}
.wpas input.span12,
.wpas textarea.span12,
.wpas .uneditable-input.span12 {
width: 714px;
}
.wpas input.span11,
.wpas textarea.span11,
.wpas .uneditable-input.span11 {
width: 652px;
}
.wpas input.span10,
.wpas textarea.span10,
.wpas .uneditable-input.span10 {
width: 590px;
}
.wpas input.span9,
.wpas textarea.span9,
.wpas .uneditable-input.span9 {
width: 528px;
}
.wpas input.span8,
.wpas textarea.span8,
.wpas .uneditable-input.span8 {
width: 466px;
}
.wpas input.span7,
.wpas textarea.span7,
.wpas .uneditable-input.span7 {
width: 404px;
}
.wpas input.span5,
.wpas textarea.span5,
.wpas .uneditable-input.span5 {
width: 280px;
}
.wpas input.span4,
.wpas textarea.span4,
.wpas .uneditable-input.span4 {
width: 218px;
}
.wpas input.span3,
.wpas textarea.span3,
.wpas .uneditable-input.span3 {
width: 156px;
}
.wpas input.span2,
.wpas textarea.span2,
.wpas .uneditable-input.span2 {
width: 94px;
}
.wpas input.span1,
.wpas textarea.span1,
.wpas .uneditable-input.span1 {
width: 32px;
}
}
@media (min-width: 1200px)  {
.wpas .row {
margin-left: -15px;
*zoom: 1;
}
.wpas .row:before,
.wpas .row:after {
display: table;
content: "";
}
.wpas .row:after {
clear: both;
}
.wpas [class*="span"] {
float: left;
margin-left: 15px;
}
.wpas .container {
width: 1170px;
}
.wpas .span12 {
width: 1170px;
}
.wpas .span11 {
width: 1070px;
}
.wpas .span10 {
width: 970px;
}
.wpas .span9 {
width: 870px;
}
.wpas .span8 {
width: 770px;
}
.wpas .span7 {
width: 670px;
}
.wpas .span5 {
width: 470px;
}
.wpas .span4 {
width: 370px;
}
.wpas .span3 {
width: 270px;
}
.wpas .span2 {
width: 170px;
}
.wpas .span1 {
width: 70px;
}
.wpas .row-fluid {
width: 100%;
}
.wpas .row-fluid:before,
.wpas .row-fluid:after {
display: table;
content: "";
}
.wpas .row-fluid:after {
clear: both;
}
.wpas .row-fluid [class*="span"] {
display: block;
width: 100%;
min-height: 28px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
float: left;
margin-left: 2.564102564%;
*margin-left: 2.496717119256065%;
}
.wpas .row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.wpas .row-fluid .span12 {
width: 100%;
*width: 99.93261455525607%;
}
.wpas .row-fluid .span11 {
width: 91.45299145300001%;
*width: 91.38560600825608%;
}
.wpas .row-fluid .span10 {
width: 82.905982906%;
*width: 82.83859746125607%;
}
.wpas .row-fluid .span9 {
width: 74.358974359%;
*width: 74.29158891425607%;
}
.wpas .row-fluid .span8 {
width: 65.81196581200001%;
*width: 65.74458036725608%;
}
.wpas .row-fluid .span7 {
width: 57.264957265%;
*width: 57.197571820256066%;
}
.wpas .row-fluid .span5 {
width: 40.170940171000005%;
*width: 40.10355472625607%;
}
.wpas .row-fluid .span4 {
width: 31.623931624%;
*width: 31.556546179256067%;
}
.wpas .row-fluid .span3 {
width: 23.076923077%;
*width: 23.009537632256066%;
}
.wpas .row-fluid .span2 {
width: 14.529914530000001%;
*width: 14.462529085256065%;
}
.wpas .row-fluid .span1 {
width: 5.982905983%;
*width: 5.9155205382560645%;
}
.wpas input,
.wpas textarea,
.wpas .uneditable-input {
margin-left: 0;
}
.wpas input.span12,
.wpas textarea.span12,
.wpas .uneditable-input.span12 {
width: 1160px;
}
.wpas input.span11,
.wpas textarea.span11,
.wpas .uneditable-input.span11 {
width: 1060px;
}
.wpas input.span10,
.wpas textarea.span10,
.wpas .uneditable-input.span10 {
width: 960px;
}
.wpas input.span9,
.wpas textarea.span9,
.wpas .uneditable-input.span9 {
width: 860px;
}
.wpas input.span8,
.wpas textarea.span8,
.wpas .uneditable-input.span8 {
width: 760px;
}
.wpas input.span7,
.wpas textarea.span7,
.wpas .uneditable-input.span7 {
width: 660px;
}
.wpas input.span5,
.wpas textarea.span5,
.wpas .uneditable-input.span5 {
width: 460px;
}
.wpas input.span4,
.wpas textarea.span4,
.wpas .uneditable-input.span4 {
width: 360px;
}
.wpas input.span3,
.wpas textarea.span3,
.wpas .uneditable-input.span3 {
width: 260px;
}
.wpas input.span2,
.wpas textarea.span2,
.wpas .uneditable-input.span2 {
width: 160px;
}
.wpas input.span1,
.wpas textarea.span1,
.wpas .uneditable-input.span1 {
width: 60px;
}
}
@media (max-width: 979px)  {
.wpas body {
padding-top: 0;
}
}
